<div class="container-fluid px-0">
    <div class="row">
        <div class="col">
            <div class="row">
                <!--TOTALS-->
                <div class="col">
                    <div class="card">
                        <div class="card-body">

                            <div class="row">
                                <div class="col label-md-strong">
                                    <div>Total profit</div>

                                    <div class="profit mt-2" [ngClass]="totalProfit < 0 ? 'text-danger' : 'text-success'">
                                        ${{totalProfit | number}}
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col">
                                    <div class="mt-1">
                                        Investment
                                    </div>
                                    <div>
                                        ${{this.user.stockInitialInvestment + this.user.cryptoInitialInvestment | number}}
                                    </div>
                                </div>
                                <div class="col mt-1">
                                    <div>
                                        Market value
                                    </div>
                                    <div class="mt-1">
                                        ${{currentPriceTotal | number}}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!--CRYPTO-->
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col label-md-strong">
                                    <div>Crypto profit</div>

                                    <div class="profit mt-2" [ngClass]="cryptoProfit < 0 ? 'text-danger' : 'text-success'">
                                        ${{cryptoProfit | number}}
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col">
                                    <div class="mt-1">
                                        Investment
                                    </div>
                                    <div>
                                        ${{this.user.cryptoInitialInvestment | number}}
                                    </div>
                                </div>
                                <div class="col mt-1">
                                    <div>
                                        Market value
                                    </div>
                                    <div class="mt-1">
                                        ${{cryptoCurrentPriceTotal | number }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--STOCKS-->
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col label-md-strong">
                                    <div>Stock profit</div>

                                    <div class="profit mt-2" [ngClass]="stockProfit < 0 ? 'text-danger' : 'text-success'">
                                        ${{stockProfit | number}}
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col">
                                    <div class="mt-1">
                                        Investment
                                    </div>
                                    <div class="mt-1">
                                        ${{this.user.stockInitialInvestment | number}}
                                    </div>
                                </div>
                                <div class="col mt-1">
                                    <div>
                                        Market value
                                    </div>
                                    <div class="mt-1">
                                        ${{stockCurrentPriceTotal | number}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>