<div class="container ">

    <div class="row">
        <!--CRYPTO-->
        <div class="col-6 px-0">
            <div class="card">
                <div class="card-body mx-2">
                    <div class="row">
                        <div class="col label-md-strong">
                            <div>Crypto profit</div>

                            <div class="profit mt-2" [ngClass]="totalProfit < 0 ? 'text-danger' : 'text-success'">
                                ${{totalProfit | number}}
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col">
                            <div class="mt-1">
                                Investment
                            </div>
                            <div>
                                ${{this.user.cryptoInitialInvestment | number}}
                            </div>
                        </div>
                        <div class="col mt-1">
                            <div>
                                Market value
                            </div>
                            <div class="mt-1">
                                ${{currentPriceTotal | number }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col px-0">
            <div class="card ">
                <div class="card-body mx-2 mt-3">

                    <div class="row mb-3 label-md-strong">
                        <div class="col ">
                            Symbol
                        </div>
                        <div class="col">
                            Price
                        </div>
                        <div class="col">
                            Change
                        </div>
                        <div class="col">
                            Investment
                        </div>
                        <div class="col">
                            Price per share
                        </div>
                        <div class="col">
                            Shares
                        </div>
                    </div>

                    <div *ngFor="let investment of investments; let i = index">
                        <hr>

                        <div class="row py-4" >
                            <div class="col">
                                {{investment.tickerSymbol}}
                            </div>
                            <div class="col">
                                ${{investment.currentPrice | number}}
                                <!-- $100 -->
                            </div>
                            <div class="col">
                                ${{investment.priceDiff | number}}
    
                            </div>
                            <div class="col">
                                ${{investment.currentPrice | number}}
    
                            </div>
                            <div class="col">
                                ${{investment.initialPPS | number}}
    
                            </div>
                            <div class="col">
    
                                ${{investment.totalShares | number}}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>