<div class="container-fluid p-0">
    <div class="row mt-5 d-flex justify-content-center">
        <div class="col-5">
            <div class="card mr-5">
                <div class="card-body m-4 pt-0">

                    <div>
                        <div class="row d-flex justify-content-center">
                            <div class="col-4">
                                <img class="" src="assets\logos\ug-logo-green.png">
                            </div>
                        </div>
                        <div class="mt-5">
                            <form [formGroup]="loginForm">
                                <div class="row d-flex justify-content-center">
                                    <div class="col-10 input-group-md">
                                        <input type="text" class="form-control" style="font-size: 16px;"
                                            placeholder="Enter your email" formControlName="email">
                                        <!--error message-->
                                        <div class="mt-2" *ngIf="email?.invalid && (email?.dirty || email?.touched)">
                                            <div class="err-msg-md" [hidden]="!email?.errors">
                                                Please enter a valid email address.
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="row mt-4 d-flex justify-content-center">
                                    <div class="col-10 input-group-md">
                                        <input type="text" class="form-control" style="font-size: 16px;"
                                            placeholder="Enter your password" formControlName="password">
                                        <!--error message-->
                                        <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
                                            <div class="err-msg-md" [hidden]="!password?.errors">
                                                Please enter valid password
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div>
                        <div class="row mt-5 d-flex justify-content-center">
                            <div class="col-9 ">
                                <button class="btn btn-primary" (click)="login()">Login</button>
                            </div>
                        </div>

                        <div class="row mt-4 d-flex justify-content-center">
                            <div class="col-9 label-sm text-center">
                                Don't have an account? <a (click)="showRegisterPage()">Sign up</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>