
.right-transition {
    animation-name: up;
    animation-duration: 1s;
    animation-delay: 0;
}


@keyframes up {
    0% {
        transform: translateY(100%);

    }
    50% {
      

    }
    100% {
    }
}