<div class="container">
    <div class="row">
        <div class="col">
            <div class="row">

                <!--TOTALS-->
                <div class="col">
                    <div class="card">
                        <div class="card-body">

                            <div class="row">
                                <div class="col">
                                    <div>Total profit</div>

                                    <div class="profit">
                                        $1000
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col">
                                    <div>
                                        Investment
                                    </div>
                                    <div>
                                        $500
                                    </div>
                                </div>
                                <div class="col">
                                    <div>
                                        Market value
                                    </div>
                                    <div>
                                        $500
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!--CRYPTO-->
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <div>Crypto profit</div>

                                    <div class="profit">
                                        $1000
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col">
                                    <div>
                                        Investment
                                    </div>
                                    <div>
                                        $500
                                    </div>
                                </div>
                                <div class="col">
                                    <div>
                                        Market value
                                    </div>
                                    <div>
                                        $500
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--STOCKS-->
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <div>Stock profit</div>

                                    <div class="profit">
                                        $1000
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col">
                                    <div>
                                        Investment
                                    </div>
                                    <div>
                                        $500
                                    </div>
                                </div>
                                <div class="col">
                                    <div>
                                        Market value
                                    </div>
                                    <div>
                                        $500
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="row">
                <div class="col">

                </div>
                <div class="col">
                    
                </div>
            </div>
        </div>
    </div>
</div>