<div class="nav-bar">
    <div class="row">
        <div class="col-1">
            <img class="img-fluid" src="assets\logos\ug-logo-green.png">

        </div>

        <div class="col-2 align-self-center">
            Robinhood
        </div>
        <div class="col-2 align-self-center">
            Coinbase
        </div>
       
       
        <div class="col-7 d-flex justify-content-end align-self-center">
            <div class="row">
                <div class="col-2 d-flex justify-content-end">
                    <i class="far fa-user-circle fa-2x"></i>
                </div>
                <div class="col-2 d-flex justify-content-start align-self-center">
                    {{user.userName}}
                </div>
            </div>
        </div>
        
    </div>
</div>