<div class="home-container">

        <div class="row  vh-100 mx-2">
            <div class="col-2 side-bar">
                <app-side-bar></app-side-bar>
            </div>
    
            <div class="col-10 main-content">
                <!--WELCOME TOP BAR-->
                <div class="row  welcome left-border">
                    <div class="col-9 pt-4 pb-3 right-border"> 
                        <div class="welcome-sub-header">Hi Stuart, </div>
                        <div class="welcome-header">Welcome back</div>
                    </div>

                    <div class="col-3 align-self-center ">
                        <div class="row">
                            <div class="col-2 ">
                                <i class="far fa-user-circle fa-2x"></i>
                            </div>
                            <div class="col align-self-center">
                                slcott9
                            </div>
                        </div>
                    </div>
                </div>
    
                <!--INVESTMENTS-->
                <div class="row">
                    <div class="col-9 pt-4 right-border left-border vh-100">
                        <app-investments [user]="user"></app-investments>
                    </div>

                    <div class="col-3 mt-4">
                        <div class="label-lg-strong">
                            Notifications
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
</div>