
.home-container {
    background-color: #252422;
    
}


.card {
    background-color: #1c1c1c;
}

/* screens 1300px or more   */
@media screen and (min-width: 1300px) {
    .container-fluid {
        width: 65% !important;
    }
}

/* screens 1300px or less   */
@media screen and (max-width: 1300px) {
    .container-fluid {
        width: 100% !important;
    }
}

/* screens 1200px or less   */
@media screen and (max-width: 1200px) {
    .container-fluid {
        width: 90% !important;
    }
}

@media screen and (max-width: 992px) {
    .container-fluid {
        width: 90% !important;
    }
}

@media screen and (max-width: 768px) {
    .container-fluid {
        width: 100% !important;
    }
}




.side-bar {
    background-color: #1c1c1c;

}

.main-content {
    background-color: #1c1c1c;
    color: white;
}

.info-right {
    background-color: #1c1c1c;
    border-left: 1px solid grey;
}

.welcome-sub-header {
    font-size: 18px;
}

.welcome-header {
    font-size: 32px !important;
}

.welcome {
    border-bottom: 1px solid grey;
}

.notifications {
    border-top: 1px solid grey ;
}

.label-lg {
    color: white;
}

.right-border {
    border-right: 1px solid grey;
}

.left-border {
    border-left: 1px solid grey;
}