<div class="container-fluid vh-100">

    <!--MAIN CONTENT-->
    <div class="main-content mt-3">

        <!--NAV BAR-->
        <div class="row pl-3 ">
            <div class="col-12">
                <div class="card card-nav-bar">
                    <div class="card-body">
                        <app-nav-bar [user]="user"></app-nav-bar>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4 d-flex justify-content-center">
            <!--INVESTMENTS-->
            <div class="col-10">
                <app-investments [user]="user"></app-investments>
            </div>

            <!--NOTIFICATIONS-->
            <div class="col-2 pl-0">
                <div class="card card-notification">
                    <div class="card-body">
                        Nofications

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>