<div class="container">
    <div class="row mt-4 d-flex justify-content-center ">
        <div class="col-6 pl-0">
            <div class="row ">
                <div class="col-8">
                    <img class="img-fluid" src="assets\logos\ug-logo-green.png">
                </div>
            </div>
        
            <div class="row mt-4 ">
                <div class="col-6 side-bar-text">
                    Robinhood
                </div>
            </div>
        
            <div class="row mt-2">
                <div class="col-6 side-bar-text">
                    Coinbase
                </div>
            </div>
        </div>
    </div>
</div>