
.right-transition {
    animation-name: right;
    animation-duration: 1s;
    animation-delay: 0;
}


@keyframes right {
    0% {
        transform: translateX(100%);

    }
    50% {
      

    }
    100% {
    }
}