<div class="container mt-4 ">
    <div class="pt-4 mx-2">

        <div class="row label-md-strong">
            <div class="col">
                Symbol
            </div>
            <div class="col">
                Difference
            </div>
            <div class="col">
                Price
            </div>
        </div>

        <div class="row" *ngFor="let investment of investments; let i = index">
            <div class="col">

                <hr>
                
                <div class="row py-4">
                    <!--SYMBOL-->
                    <div class="col">
                        {{investment.tickerSymbol}}
                    </div>

                    <div class="col label-sm">
                        <div class="mt-1 info" [ngClass]="investment.priceDiff < 0 ? 'text-danger' : 'text-success'"> 
                            <!-- ${{investment.priceDiff | number}} -->
                            $1000
                        </div>
                    </div>

                    <!--CURRENT PRICE AND DIFF-->
                    <div class="col label-sm">
                        <div class="mt-1 info">
                            <!-- ${{investment.currentPrice | number}} -->
                            $50
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>